<app-header></app-header>
      <div class="inner-wrap">
        <div class="container">
          <div class="breadcrumbs">
              <br/>
            <!-- <a href="index2.html">Юрист Онлайн</a>
            <span>Личный кабинет пользователя</span> -->
          </div>
          <div class="pers-cab pers-cab--dans">
            <div class="contaoner">
              <div class="pers-cab__wrap">
                <app-jurist-side-menu [tabindex]='1'></app-jurist-side-menu>
                 <app-document-creator [documentForEdit]=''></app-document-creator> 
                </div>
            </div>    
          </div>
        </div>
      </div>
<app-footer></app-footer>