<app-header></app-header>
    <div class="inner-wrap">
    <div class="container">
      <div class="breadcrumbs">
          <br/>
        <!-- <a href="index2.html">Юрист Онлайн</a>
        <span>Личный кабинет пользователя</span> -->
      </div>
      <div class="pers-cab">
        <div class="contaoner">
          <div class="pers-cab__wrap">
            <app-client-side-menu [tabindex]='3'></app-client-side-menu>
            <div class="pers-cab__body">
              <div class="title title--min">
                Сообщения
              </div>
              <div class="pers-cab__sms js-more-wrap">
                  <app-message-list [messages]='messages'></app-message-list>
              </div>
              <div class="pers-cab__sms-bottom">
                <a href="" class="more-lnk js-more-button">
                  <div class="more-lnk__text">
                    Показать еще
                  </div>
                  <span class="more-lnk__icon">
                  <img src="../../assets/img/more-two.svg" alt="">
                </span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
<app-footer></app-footer>