<app-header></app-header>
<div class="inner-wrap">
    <div class="container">
      <div class="breadcrumbs">
        <a href="index2.html">Юрист Онлайн</a>
        <span>Личный кабинет пользователя</span>
      </div>
      <div class="pers-cab">
        <div class="contaoner">
          <div class="pers-cab__wrap">
            <app-client-side-menu [tabindex]='5'></app-client-side-menu>
            <div class="pers-cab__body">
              <div class="title title--min">
                Приобритенные документы
              </div>
              <div class="pers-cab__selects">
                <form action="" class="form">
                  <div class="form__select">
                    <div class="form__select-label">
                      Специализация
                    </div>
                    <select name="pravo" id="" class="js-anket-select js-select">
                      <option value="pravo1"> Хозяйственное право</option>
                      <option value="pravo2">Хозяйственное право</option>
                    </select>
                  </div>
                  <div class="form__select">
                    <div class="form__select-label">
                      Город
                    </div>
                    <select name="city" id="" class="js-anket-select js-select">
                      <option value="city1">Санкт-Петербург</option>
                      <option value="city2">Санкт-Петербург</option>
                    </select>
                  </div>
                  <div class="form__select">
                    <div class="form__select-label">
                      Трудовой стаж
                    </div>
                    <select name="stag" id="" class="js-anket-select js-select">
                      <option value="stag1">17 лет</option>
                      <option value="stag2">17 лет</option>
                    </select>
                  </div>
                  <div class="form__select">
                    <div class="form__select-label">
                      Рейтинг
                    </div>
                    <select name="rate" id="" class="js-anket-select js-select">
                      <option value="rate1">5</option>
                      <option value="rate2">4</option>
                    </select>
                  </div>
                </form>
              </div>
              <div class="pers-cab__docs">
                <div class="table-wrap">
                  <div class="js-table-drop">
                    <table>
                      <thead>
                        <tr>
                          <th>Тип</th>
                          <th>Дата</th>
                          <th>Описание</th>
                          <th>Юрист</th>
                          <th>Цена</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            <div class="table-frst">
                              <img src="../assets/img/hone.svg" alt="" />
                              <span>Претензия</span>
                            </div>
                          </td>
                          <td>
                            21.11.2020
                          </td>
                          <td>
                            <span>
                              О расторжении договора купли-продажи и возмещении уплаченной суммы в связи с
                              недоброкачественностью товара
                              <span class="table-arr">
                                <img src="../assets/img/white-arr.svg" alt="" />
                              </span>
                            </span>
                          </td>
                          <td>
                            <div class="table-itm">
                              <div class="table-itm__img">
                                <img src="../assets/img/pic.jpg" alt="" />
                              </div>
                              <div class="table-itm__text">
                                <span>Андрейченко Сергей Владимирович</span>
                                <span>Москва</span>
                              </div>
                            </div>
                          </td>
                          <td>248</td>
                          <td>
                            <img src="../assets/img/basket.svg" alt="" />
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <div class="open-table js-table-block">
                      <div class="open-table__top">
                        <div class="open-table__left">
                          <span>Юрист:</span>
                          <div class="open-table__user">
                            <div class="open-table__user-img">
                              <img src="../assets/img/pic.jpg" alt="" />
                            </div>
                            <span>Андрейченко Сергей Владимирович</span>
                          </div>
                        </div>
                        <div class="open-table__right">
                          <div class="open-table__itm">Сачано: <span>110</span></div>
                          <div class="open-table__itm">Просмотрено: <span>127</span></div>
                          <div class="open-table__itm">Цена: <span>248</span></div>
                          <a href="" class="open-table__last">
                            <img src="../assets/img/basket.svg" alt="" />
                          </a>
                        </div>
                      </div>
                      <div class="open-table__doc">
                        <h4 style="text-align: center">ПРЕТЕНЗИЯ</h4>
                        <h6 style="text-align: center; margin: 20px 0">
                          о расторжении договора купли-продажи и возмещении уплаченной суммы в связи с
                          недоброкачественностью товара
                        </h6>
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad beatae illo inventore iusto?
                          Adipisci autem beatae deleniti dolorem dolores ducimus, eligendi eos eum, exercitationem
                          in incidunt inventore ipsam, itaque molestiae officiis quam quo sapiente sed sunt tempora
                          temporibus tenetur vero voluptas? Adipisci beatae commodi dicta ea eaque, et eum expedita
                          id incidunt magnam molestiae nam natus non, officia porro repellendus rerum tempore
                          temporibus totam ullam, velit veniam vero voluptates! Aliquid assumenda at delectus
                          deleniti dolore dolorum earum eum excepturi fugiat libero molestiae molestias nam nobis
                          quia quod, sapiente ut? Modi molestiae quasi quibusdam reiciendis repudiandae? Beatae
                          eligendi error ex inventore? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab
                          accusantium aliquam aperiam commodi, ea excepturi fuga fugiat hic inventore molestias
                          nihil odit perferendis reiciendis reprehenderit temporibus totam ut. Aliquam cumque
                          deserunt dicta ducimus eligendi explicabo impedit ipsum quam soluta velit. Atque delectus
                          ea esse explicabo labore laborum minima quod vel! Lorem ipsum dolor sit amet, consectetur
                          adipisicing elit. Dolore dolores, ea esse laborum quae sunt? Adipisci aut commodi
                          consequuntur cupiditate delectus deserunt dicta doloribus eius est et, explicabo fugit
                          illo impedit incidunt, iste iusto labore nihil non obcaecati odit officia quasi quibusdam
                          repellendus rerum tempora ullam ut? Ab alias asperiores at, blanditiis dignissimos dolor
                          ex expedita explicabo impedit laboriosam laudantium magni molestias, nisi officia quae
                          recusandae sed tempore totam ut voluptatum. Aperiam beatae corporis deleniti distinctio
                          error et excepturi inventore labore laboriosam magni nobis, nostrum numquam officia
                          officiis placeat porro, quas quasi, quidem ratione rem reprehenderit tenetur totam?
                          Deserunt dolores eligendi excepturi facilis minus molestiae, non reiciendis. Ad corporis
                          doloribus ea enim harum iure libero modi, nostrum, optio quam ullam, ut veniam voluptas!
                          Adipisci autem commodi et iure, praesentium quaerat quam reiciendis suscipit? Consectetur
                          deleniti dolorem magnam mollitia perspiciatis voluptatem? Aliquam asperiores consequatur,
                          debitis dignissimos dolores dolorum error est explicabo fugiat id inventore ipsum labore
                          laborum magni maxime modi natus numquam obcaecati odit pariatur possimus quas quasi qui
                          quia quis quod reiciendis repellat sint soluta totam vel veritatis voluptatem voluptates!
                          Alias, assumenda commodi consequuntur culpa delectus deserunt distinctio dolore dolorem
                          doloribus earum eius eos ex expedita fuga in maxime minus, modi mollitia necessitatibus
                          odio reprehenderit repudiandae saepe sequi vitae voluptate. Ad commodi dolorum explicabo
                          perspiciatis placeat provident quaerat sint tempore temporibus. Accusamus ad, aperiam aut
                          cum cupiditate dolores enim hic iste maxime nobis perspiciatis quae quia sapiente, sit
                          vero, voluptate voluptates! Alias consectetur eius error, incidunt laboriosam quaerat quam
                          quis.
                        </p>
                      </div>
                      <div class="open-table__bottom">
                        <div class="title">
                          Тестовый документ клиента
                        </div>
                        <div class="steps-top steps-top--four">
                          <div class="step-item active">
                            <div class="step-item__left">
                              <span>1</span>
                            </div>
                            <div class="step-item__name">
                              Персональные данные
                              <span></span>
                            </div>
                          </div>
                          <div class="step-item">
                            <div class="step-item__left">
                              <span>2</span>
                            </div>
                            <div class="step-item__name">
                              Загрузка фото
                              <span></span>
                            </div>
                          </div>
                          <div class="step-item">
                            <div class="step-item__left">
                              <span>3</span>
                            </div>
                            <div class="step-item__name">
                              Профессиональные данные
                              <span></span>
                            </div>
                          </div>
                          <div class="step-item">
                            <div class="step-item__left">
                              <span>4</span>
                            </div>
                            <div class="step-item__name">
                              Контактные данные
                            </div>
                          </div>
                        </div>
                        <form action="" class="form">
                          <div class="input-block">
                            <div class="input-block__field">
                              <input type="tel" name="heda" placeholder="Шапки" />
                            </div>
                          </div>
                          <button type="submit" class="button button--goon button--blue button--arrow">
                            <span class="button__text">
                              далее
                            </span>
                            <span class="button__icon"></span>
                          </button>
                        </form>
                      </div>
                    </div>
                  </div>
                  <div class="js-table-drop">
                    <table>
                      <thead>
                        <tr>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            <div class="table-frst">
                              <img src="../assets/img/hone.svg" alt="" />
                              <span>Претензия</span>
                            </div>
                          </td>
                          <td>
                            21.11.2020
                          </td>
                          <td>
                            <span>
                              О расторжении договора купли-продажи и возмещении уплаченной суммы в связи с
                              недоброкачественностью товара
                              <span class="table-arr">
                                <img src="../assets/img/white-arr.svg" alt="" />
                              </span>
                            </span>
                          </td>
                          <td>
                            <div class="table-itm">
                              <div class="table-itm__img">
                                <img src="../assets/img/pic.jpg" alt="" />
                              </div>
                              <div class="table-itm__text">
                                <span>Андрейченко Сергей Владимирович</span>
                                <span>Москва</span>
                              </div>
                            </div>
                          </td>
                          <td>248</td>
                          <td>
                            <img src="../assets/img/basket.svg" alt="" />
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <div class="open-table js-table-block">
                      <div class="open-table__top">
                        <div class="open-table__left">
                          <span>Юрист:</span>
                          <div class="open-table__user">
                            <div class="open-table__user-img">
                              <img src="../assets/img/pic.jpg" alt="" />
                            </div>
                            <span>Андрейченко Сергей Владимирович</span>
                          </div>
                        </div>
                        <div class="open-table__right">
                          <div class="open-table__itm">Сачано: <span>110</span></div>
                          <div class="open-table__itm">Просмотрено: <span>127</span></div>
                          <div class="open-table__itm">Цена: <span>248</span></div>
                          <a href="" class="open-table__last">
                            <img src="../assets/img/basket.svg" alt="" />
                          </a>
                        </div>
                      </div>
                      <div class="open-table__doc">
                        <h4 style="text-align: center">ПРЕТЕНЗИЯ</h4>
                        <h6 style="text-align: center; margin: 20px 0">
                          о расторжении договора купли-продажи и возмещении уплаченной суммы в связи с
                          недоброкачественностью товара
                        </h6>
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad beatae illo inventore iusto?
                          Adipisci autem beatae deleniti dolorem dolores ducimus, eligendi eos eum, exercitationem
                          in incidunt inventore ipsam, itaque molestiae officiis quam quo sapiente sed sunt tempora
                          temporibus tenetur vero voluptas? Adipisci beatae commodi dicta ea eaque, et eum expedita
                          id incidunt magnam molestiae nam natus non, officia porro repellendus rerum tempore
                          temporibus totam ullam, velit veniam vero voluptates! Aliquid assumenda at delectus
                          deleniti dolore dolorum earum eum excepturi fugiat libero molestiae molestias nam nobis
                          quia quod, sapiente ut? Modi molestiae quasi quibusdam reiciendis repudiandae? Beatae
                          eligendi error ex inventore? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab
                          accusantium aliquam aperiam commodi, ea excepturi fuga fugiat hic inventore molestias
                          nihil odit perferendis reiciendis reprehenderit temporibus totam ut. Aliquam cumque
                          deserunt dicta ducimus eligendi explicabo impedit ipsum quam soluta velit. Atque delectus
                          ea esse explicabo labore laborum minima quod vel! Lorem ipsum dolor sit amet, consectetur
                          adipisicing elit. Dolore dolores, ea esse laborum quae sunt? Adipisci aut commodi
                          consequuntur cupiditate delectus deserunt dicta doloribus eius est et, explicabo fugit
                          illo impedit incidunt, iste iusto labore nihil non obcaecati odit officia quasi quibusdam
                          repellendus rerum tempora ullam ut? Ab alias asperiores at, blanditiis dignissimos dolor
                          ex expedita explicabo impedit laboriosam laudantium magni molestias, nisi officia quae
                          recusandae sed tempore totam ut voluptatum. Aperiam beatae corporis deleniti distinctio
                          error et excepturi inventore labore laboriosam magni nobis, nostrum numquam officia
                          officiis placeat porro, quas quasi, quidem ratione rem reprehenderit tenetur totam?
                          Deserunt dolores eligendi excepturi facilis minus molestiae, non reiciendis. Ad corporis
                          doloribus ea enim harum iure libero modi, nostrum, optio quam ullam, ut veniam voluptas!
                          Adipisci autem commodi et iure, praesentium quaerat quam reiciendis suscipit? Consectetur
                          deleniti dolorem magnam mollitia perspiciatis voluptatem? Aliquam asperiores consequatur,
                          debitis dignissimos dolores dolorum error est explicabo fugiat id inventore ipsum labore
                          laborum magni maxime modi natus numquam obcaecati odit pariatur possimus quas quasi qui
                          quia quis quod reiciendis repellat sint soluta totam vel veritatis voluptatem voluptates!
                          Alias, assumenda commodi consequuntur culpa delectus deserunt distinctio dolore dolorem
                          doloribus earum eius eos ex expedita fuga in maxime minus, modi mollitia necessitatibus
                          odio reprehenderit repudiandae saepe sequi vitae voluptate. Ad commodi dolorum explicabo
                          perspiciatis placeat provident quaerat sint tempore temporibus. Accusamus ad, aperiam aut
                          cum cupiditate dolores enim hic iste maxime nobis perspiciatis quae quia sapiente, sit
                          vero, voluptate voluptates! Alias consectetur eius error, incidunt laboriosam quaerat quam
                          quis.
                        </p>
                      </div>
                      <div class="open-table__bottom">
                        <div class="title">
                          Тестовый документ клиента
                        </div>
                        <div class="steps-top steps-top--four">
                          <div class="step-item active">
                            <div class="step-item__left">
                              <span>1</span>
                            </div>
                            <div class="step-item__name">
                              Персональные данные
                              <span></span>
                            </div>
                          </div>
                          <div class="step-item">
                            <div class="step-item__left">
                              <span>2</span>
                            </div>
                            <div class="step-item__name">
                              Загрузка фото
                              <span></span>
                            </div>
                          </div>
                          <div class="step-item">
                            <div class="step-item__left">
                              <span>3</span>
                            </div>
                            <div class="step-item__name">
                              Профессиональные данные
                              <span></span>
                            </div>
                          </div>
                          <div class="step-item">
                            <div class="step-item__left">
                              <span>4</span>
                            </div>
                            <div class="step-item__name">
                              Контактные данные
                            </div>
                          </div>
                        </div>
                        <form action="" class="form">
                          <div class="input-block">
                            <div class="input-block__field">
                              <input type="tel" name="heda" placeholder="Шапки" />
                            </div>
                          </div>
                          <button type="submit" class="button button--goon button--blue button--arrow">
                            <span class="button__text">
                              далее
                            </span>
                            <span class="button__icon"></span>
                          </button>
                        </form>
                      </div>
                    </div>
                  </div>
                  <div class="js-table-drop">
                    <table>
                      <thead>
                        <tr>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            <div class="table-frst">
                              <img src="../assets/img/hone.svg" alt="" />
                              <span>Претензия</span>
                            </div>
                          </td>
                          <td>
                            21.11.2020
                          </td>
                          <td>
                            <span>
                              О расторжении договора купли-продажи и возмещении уплаченной суммы в связи с
                              недоброкачественностью товара
                              <span class="table-arr">
                                <img src="../assets/img/white-arr.svg" alt="" />
                              </span>
                            </span>
                          </td>
                          <td>
                            <div class="table-itm">
                              <div class="table-itm__img">
                                <img src="../assets/img/pic.jpg" alt="" />
                              </div>
                              <div class="table-itm__text">
                                <span>Андрейченко Сергей Владимирович</span>
                                <span>Москва</span>
                              </div>
                            </div>
                          </td>
                          <td>248</td>
                          <td>
                            <img src="../assets/img/basket.svg" alt="" />
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <div class="open-table js-table-block">
                      <div class="open-table__top">
                        <div class="open-table__left">
                          <span>Юрист:</span>
                          <div class="open-table__user">
                            <div class="open-table__user-img">
                              <img src="../assets/img/pic.jpg" alt="" />
                            </div>
                            <span>Андрейченко Сергей Владимирович</span>
                          </div>
                        </div>
                        <div class="open-table__right">
                          <div class="open-table__itm">Сачано: <span>110</span></div>
                          <div class="open-table__itm">Просмотрено: <span>127</span></div>
                          <div class="open-table__itm">Цена: <span>248</span></div>
                          <a href="" class="open-table__last">
                            <img src="../assets/img/basket.svg" alt="" />
                          </a>
                        </div>
                      </div>
                      <div class="open-table__doc">
                        <h4 style="text-align: center">ПРЕТЕНЗИЯ</h4>
                        <h6 style="text-align: center; margin: 20px 0">
                          о расторжении договора купли-продажи и возмещении уплаченной суммы в связи с
                          недоброкачественностью товара
                        </h6>
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad beatae illo inventore iusto?
                          Adipisci autem beatae deleniti dolorem dolores ducimus, eligendi eos eum, exercitationem
                          in incidunt inventore ipsam, itaque molestiae officiis quam quo sapiente sed sunt tempora
                          temporibus tenetur vero voluptas? Adipisci beatae commodi dicta ea eaque, et eum expedita
                          id incidunt magnam molestiae nam natus non, officia porro repellendus rerum tempore
                          temporibus totam ullam, velit veniam vero voluptates! Aliquid assumenda at delectus
                          deleniti dolore dolorum earum eum excepturi fugiat libero molestiae molestias nam nobis
                          quia quod, sapiente ut? Modi molestiae quasi quibusdam reiciendis repudiandae? Beatae
                          eligendi error ex inventore? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab
                          accusantium aliquam aperiam commodi, ea excepturi fuga fugiat hic inventore molestias
                          nihil odit perferendis reiciendis reprehenderit temporibus totam ut. Aliquam cumque
                          deserunt dicta ducimus eligendi explicabo impedit ipsum quam soluta velit. Atque delectus
                          ea esse explicabo labore laborum minima quod vel! Lorem ipsum dolor sit amet, consectetur
                          adipisicing elit. Dolore dolores, ea esse laborum quae sunt? Adipisci aut commodi
                          consequuntur cupiditate delectus deserunt dicta doloribus eius est et, explicabo fugit
                          illo impedit incidunt, iste iusto labore nihil non obcaecati odit officia quasi quibusdam
                          repellendus rerum tempora ullam ut? Ab alias asperiores at, blanditiis dignissimos dolor
                          ex expedita explicabo impedit laboriosam laudantium magni molestias, nisi officia quae
                          recusandae sed tempore totam ut voluptatum. Aperiam beatae corporis deleniti distinctio
                          error et excepturi inventore labore laboriosam magni nobis, nostrum numquam officia
                          officiis placeat porro, quas quasi, quidem ratione rem reprehenderit tenetur totam?
                          Deserunt dolores eligendi excepturi facilis minus molestiae, non reiciendis. Ad corporis
                          doloribus ea enim harum iure libero modi, nostrum, optio quam ullam, ut veniam voluptas!
                          Adipisci autem commodi et iure, praesentium quaerat quam reiciendis suscipit? Consectetur
                          deleniti dolorem magnam mollitia perspiciatis voluptatem? Aliquam asperiores consequatur,
                          debitis dignissimos dolores dolorum error est explicabo fugiat id inventore ipsum labore
                          laborum magni maxime modi natus numquam obcaecati odit pariatur possimus quas quasi qui
                          quia quis quod reiciendis repellat sint soluta totam vel veritatis voluptatem voluptates!
                          Alias, assumenda commodi consequuntur culpa delectus deserunt distinctio dolore dolorem
                          doloribus earum eius eos ex expedita fuga in maxime minus, modi mollitia necessitatibus
                          odio reprehenderit repudiandae saepe sequi vitae voluptate. Ad commodi dolorum explicabo
                          perspiciatis placeat provident quaerat sint tempore temporibus. Accusamus ad, aperiam aut
                          cum cupiditate dolores enim hic iste maxime nobis perspiciatis quae quia sapiente, sit
                          vero, voluptate voluptates! Alias consectetur eius error, incidunt laboriosam quaerat quam
                          quis.
                        </p>
                      </div>
                      <div class="open-table__bottom">
                        <div class="title">
                          Тестовый документ клиента
                        </div>
                        <div class="steps-top steps-top--four">
                          <div class="step-item active">
                            <div class="step-item__left">
                              <span>1</span>
                            </div>
                            <div class="step-item__name">
                              Персональные данные
                              <span></span>
                            </div>
                          </div>
                          <div class="step-item">
                            <div class="step-item__left">
                              <span>2</span>
                            </div>
                            <div class="step-item__name">
                              Загрузка фото
                              <span></span>
                            </div>
                          </div>
                          <div class="step-item">
                            <div class="step-item__left">
                              <span>3</span>
                            </div>
                            <div class="step-item__name">
                              Профессиональные данные
                              <span></span>
                            </div>
                          </div>
                          <div class="step-item">
                            <div class="step-item__left">
                              <span>4</span>
                            </div>
                            <div class="step-item__name">
                              Контактные данные
                            </div>
                          </div>
                        </div>
                        <form action="" class="form">
                          <div class="input-block">
                            <div class="input-block__field">
                              <input type="tel" name="heda" placeholder="Шапки" />
                            </div>
                          </div>
                          <button type="submit" class="button button--goon button--blue button--arrow">
                            <span class="button__text">
                              далее
                            </span>
                            <span class="button__icon"></span>
                          </button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="pagination">
                <a href="" class="pagination__prev"></a>
                <a href="" class="pagination__dot"></a>
                <a href="" class="pagination__dot"></a>
                <a href="" class="pagination__dot"></a>
                <a href="" class="pagination__dot"></a>
                <a href="" class="pagination__dot"></a>
                <a href="" class="pagination__dot"></a>
                <a href="" class="pagination__next"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<app-footer></app-footer>