<app-header></app-header>
<div class="inner-wrap">
    <div class="container">
      <div class="breadcrumbs">
          <br/>
        <!-- <a href="index2.html">Юрист Онлайн</a>
        <span>Личный кабинет юриста</span> -->
      </div>
      <div class="pers-cab pers-cab--dans  pers-cab--admin">
        <div class="contaoner">
          <div class="pers-cab__wrap">
              <!-- <app-jurist-side-menu></app-no-member-menu> -->
            <app-jurist-side-menu [tabindex]='7'></app-jurist-side-menu>
            <div class="pers-cab__body">
                <div *ngIf="showSpinner" class="spinner" style="position:relative">
                    <mat-spinner></mat-spinner>
                  </div>
                        <div class="pers-cab__content" >
                            <div class="title title--min">
                                Написать администрации
                              </div>
                            <div class="open-table__bottom"  style="padding: 25px 25px !important;" *ngIf="!showForm">
                                <div class="dans-block__bottom">
                                    <a (click)="showForm=!showForm;" style="width: 100% !important;"  class="button button--goon button--blue">
                                    <span class="button__text">
                                        Написать администрации
                                    </span>
                                    </a>
                                 </div>
                            </div>
                            <form class='form-height' [formGroup]="msgForm" *ngIf="showForm"> 
                                <button class="close"  (click)="showForm=false;">X</button>
                                <div class="dans-block" style="padding:50px">
                                <!-- <div class="popup__form"> -->

                                    <div class="info-item" style="display: flex;flex-direction: row;justify-content: space-between;">
                                    <div class="simp-block">
                                        <div class="simp-block__img">
                                        <img src="../../assets/img/icon3.svg" alt="" />
                                        </div>
                                    </div>

                                    <div fxLayout="column" class="title-form-field">
                                    <mat-form-field style="padding-left: 11px;width: inherit;">
                                        <mat-label>Тема обращения</mat-label>
                                        <input formControlName="title" matInput >                                     
                                    </mat-form-field>
                            
                                    <div *ngIf="msgForm.controls.title.invalid && msgForm.controls.title.touched" class="invalid-data">
                                        <div *ngIf="msgForm.controls.title.hasError('required')">*обязательное поле</div>
                                        <div *ngIf="msgForm.controls.title.hasError('maxlength')">*максимально возможное сообщение 5000 символов</div>
                                        <div *ngIf="msgForm.controls.title.hasError('minlength')">*минимально возможное сообщение 10 символов</div>
                                    </div>
                                    </div>
                                </div>

                                    <div class="ansv-top" style="display: flex;flex-direction: row;justify-content: space-between;">
                                    <div class="ansv-top__item">
                                        <div class="info-item" style="display: flex;flex-direction: unset;">
                                        <div class="simp-block">
                                            <div class="simp-block__img">
                                            <img src="../../assets/img/icon1.svg" alt="" />
                                            </div>
                                        </div>
                                        <div class="info-item__body">
                                            <div fxLayout="column">
                                            <mat-form-field  style="width: 17em;">
                                            <ng-template matStepLabel>категория</ng-template>
                                            <mat-label>Выбор категория</mat-label>
                                            <mat-select formControlName="category" (selectionChange)="categorySelect($event.value)">
                                                <mat-option *ngFor="let cat of categoriesName" [value]="cat">
                                                {{cat}}
                                                </mat-option>
                                            </mat-select>
                                            </mat-form-field>
                                            <div *ngIf="msgForm.controls.category.invalid && msgForm.controls.category.touched" class="invalid-data">
                                                <div *ngIf="msgForm.controls.category.hasError('required')">*обязательное поле</div>
                                            </div>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                    <div class="ansv-top__item">
                                        <div class="info-item" style="display: flex;flex-direction: unset;">
                                        <div class="simp-block">
                                            <div class="simp-block__img">
                                            <img src="../../assets/img/icon3.svg" alt="" />
                                            </div>
                                        </div>
                                        <div class="info-item__body">
                                            <div fxLayout="column">
                                            <mat-form-field style="width: 17em;">
                                            <ng-template matStepLabel>подкатегория</ng-template>
                                            <mat-label>Выбор категория</mat-label>
                                            <mat-select  formControlName="subcategory">
                                                <mat-option *ngFor="let sub of selectedCat"  [value]="sub">
                                                {{sub}}
                                                </mat-option>
                                            </mat-select>
                                            </mat-form-field>
                                            <div *ngIf="msgForm.controls.subcategory.invalid && msgForm.controls.subcategory.touched" class="invalid-data">
                                                <div *ngIf="msgForm.controls.subcategory.hasError('required')">*обязательное поле</div>
                                            </div>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                    </div>
                            
                                    <div class="popup__textarea">
                                    <span>Текст Вашего вопроса:</span>
                                    <textarea name="message" style="height: 5em;" formControlName="message"></textarea>
                                    <div *ngIf="msgForm.controls.message.invalid && msgForm.controls.message.touched" class="invalid-data">
                                        <div *ngIf="msgForm.controls.message.hasError('required')">*обязательное поле</div>
                                        <div *ngIf="msgForm.controls.message.hasError('maxlength')">*максимально возможное сообщение 5000 символов</div>
                                        <div *ngIf="msgForm.controls.message.hasError('minlength')">*минимально возможное сообщение 10 символов</div>
                                    </div>
                                    </div>
                            
                                    <div class="popup__form-bottom">
                                    <button type="submit" class="button button--medium button--blue button--arrow" (click)="sendMsg()">
                                        <span class="button__text">
                                            отправить вопрос
                                        </span>
                                        <span class="button__icon"></span>
                                    </button>
                                    </div>
                                <!-- </div> -->
                                </div>
                            </form>
                        
                            <div class="pers-cab__sms js-more-wrap">
                                <app-message-list [messages]='AdminMessages'></app-message-list>
                            </div>
                        </div>
                </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<app-footer></app-footer>
