<app-header></app-header>
<div class="inner-wrap">
    <div class="container">
      <div class="breadcrumbs">
          <br/>
        <!-- <a href="index2.html">Юрист Онлайн</a>
        <span>Личный кабинет пользователя</span> -->
      </div>
      <div class="pers-cab pers-cab--dans">
        <div class="contaoner">
          <div class="pers-cab__wrap">
            <app-jurist-side-menu [tabindex]='6'></app-jurist-side-menu>
            <div class="pers-cab__body">
                <div class="pers-cab__content pers-cab__content--balance">
                  <div class="title title--min">
                    Ваш баланс:   12 214 руб.
                  </div>
                  <div class="simp-block">
                    <div class="simp-block__img">
                      <img src="../img/doc8.svg" alt="">
                    </div>
                    <div class="simp-block__text ttu">
                      Проданные документы
                    </div>
                  </div>
                  <div class="table-wrap">
                    <table>
                      <thead>
                      <tr>
                        <th>Дата продажи</th>
                        <th>Название документа</th>
                        <th>Цена</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr>
                        <td>
                          21.11.2020
                        </td>
                        <td>
                          Название документа будет написано в одну строку и будет написано тут
                        </td>
                        <td>
                          157 руб.
                        </td>
                      </tr>
                      <tr>
                        <td>
                          21.11.2020
                        </td>
                        <td>
                          Название документа будет написано в одну строку и будет написано тут
                        </td>
                        <td>
                          157 руб.
                        </td>
                      </tr>
                      <tr>
                        <td>
                          21.11.2020
                        </td>
                        <td>
                          Название документа будет написано в одну строку и будет написано тут
                        </td>
                        <td>
                          157 руб.
                        </td>
                      </tr>
                      <tr>
                        <td>
                          21.11.2020
                        </td>
                        <td>
                          Название документа будет написано в одну строку и будет написано тут
                        </td>
                        <td>
                          157 руб.
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="simp-block">
                    <div class="simp-block__img">
                      <img src="../img/doc10.svg" alt="">
                    </div>
                    <div class="simp-block__text ttu">
                      Вывести деньги
                    </div>
                  </div>
                  <div class="money-bottom">
                    <div class="input-block">
                      <span>Введите сумму (руб.)</span>
                      <div class="input-block__field">
                        <input type="text" name="surname" value="0">
                      </div>
                    </div>
                    <div class="input-block">
                      <span>Выберите платежную систему:</span>
                      <div class="form__select">
                        <select name="pravo" id="" class="js-anket-select js-select">
                          <option value="pravo1">Яндекс деньги</option>
                          <option value="pravo2">Яндекс деньги</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <button type="submit" class="button button--money button--blue button--arrow">
                      <span class="button__text">
                                Вывести деньги
                              </span>
                      <span class="button__icon"></span>
                  </button>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<app-footer></app-footer>